* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    height: 80svh;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
}


header {
    text-align: center;
    padding: 5px 15px;
    margin: 15px 0;
}

nav {
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 20px 5px 0 5px;
}

.menu-items {
    list-style-type: none;
    display: flex;
}

.menu-item {
    margin: 0 10px;
}

.menu-item a {
    font-size: 0.9rem;
    color: #333;
    text-decoration: none;
}

#form {
    display: flex;
    justify-content: center;
    padding-top: 10px;
    flex-direction: column;
    align-items: center;
}

.container-central {
    min-height: 60vh;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}


.titulo {
    font-size: 6rem;
    position: relative;
    display: flex;
    justify-content: center;
}


.letter-g {
    color: #4285F4;
}

.letter-o1 {
    color: #EA4335;
}

.letter-o2 {
    color: #FBBC05;
}

.letter-g2 {
    color: #34A853;
}

.letter-l {
    color: #EA4335;
}

.letter-e {
    color: #4285F4;
}

input {
    padding: 5px;
    position: relative;
    border-radius: 25px;
}

.icon {
    background-image: url(../img/iconmonstr-magnifier-lined.svg);
    width: 25px;
    height: 25px;
    position: relative;
    left: -225px;
    top: 38px;
    z-index: 10;
}

.laber {
    height: 50px;
    width: 500px;
    padding: 5px 0px 5px 50px;
    border: 1px solid rgb(220, 220, 220);
}

.busqueda {
    height: 30px;
    width: 150px;
    margin-top: 20px;
    background-color: #F8F9FA;
    border: none;
    border-radius: 5px;

    &:hover {
        border: 1px solid #DFE1E5;
    }
}

.container-footer {
    height: 50px;
    background-color: #F2F2F2;
    align-items: center;
    display: flex;
    padding-left: 30px;
    border-bottom: 1px solid #DADCE0;
}

.parrafo {
    font-size: 14px;
    color: #333;
}

.footer-items {
    display: flex;
    align-items: center;
    padding: 0 45px;
    justify-content: space-around;
    height: 50px;
    background-color: #F2F2F2;
}

.footer-items {
    list-style-type: none;
    display: flex;
}

.footer-item {
    margin: 0 10px;

}

.footer-item a {
    font-size: 0.9rem;
    color: #333;
    text-decoration: none;
}