* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
}

header {
    text-align: center;
    padding: 5px 15px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 20px 5px 0 5px;

}

.menu-items {
    list-style-type: none;
    display: flex;

}

.menu-item {
    margin: 0 10px;
}

.menu-item a {
    font-size: 1.2rem;
    color: #333;
    text-decoration: none;
}

#form {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    flex-direction: column;
    align-items: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.titulo {
    font-size: 8rem;
    position: relative;
}

.letter-g {
    color: #4285F4;
}

.letter-o1 {
    color: #EA4335;
}

.letter-o2 {
    color: #FBBC05;
}

.letter-g2 {
    color: #34A853;
}

.letter-l {
    color: #EA4335;
}

.letter-e {
    color: #4285F4;
}

input {
    padding: 5px;
    position: relative;
    border-radius: 25px;
}

.icon {
    background-image: url(../img/iconmonstr-magnifier-lined.svg);
    width: 25px;
    height: 25px;
    position: relative;
    left: -180px;
    top: 38px;
    z-index: 10;
}

.laber {
    height: 50px;
    width: 400px;
    padding: 5px 0px 5px 40px;
    border: 1px solid rgb(220, 220, 220);
}

.busqueda {
    height: 30px;
    width: 150px;
    margin-top: 15px;
    background-color: rgba(209, 209, 209, 0.2);
    border: none;
}
